body {
    display: grid;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(3, 42, 100);
}


/** Style: HEADER**/

header {
    height: 7vh;
    width: 100%;
    background-color: rgb(2, 29, 70);
    border-bottom: solid 1px rgb(9, 236, 236);
    display: flex;
    align-items: center;
}

#logo {
    width: 30%;
    margin-left: clamp(10px, 2vw, 50px);
    font-size: clamp(23px, 5vw, 40px);
    font-weight: bold;
    color: rgb(9, 236, 236);
}

#logo:hover {
    cursor: pointer;
}

#menu {
    display: flex;
    width: 70%;
    color: white;
    position: relative;
    font-size: clamp(10px, 3vw, 20px);
}

#menu > div:not(#options) {
    margin-left: clamp(4px, 1vw, 50px);
    padding: 7px 12px 7px 12px;
    border-radius: 25px;
    transition:  ease-in-out 0.3s;
}

#menu > .btn:hover {
    cursor: pointer;
    background-color: rgb(9, 236, 236);
    color: rgb(2, 29, 70);
}


#menu > #options {
    display: none;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: clamp(5px,3vw,70px);
    background-color: rgb(2, 29, 70);
}

#menu > #options > div {
    margin-top: 7px;
    transition:  ease-in-out 0.3s;
    padding: 10px;
}

#menu > #options > div:hover {
    background-color: rgb(9, 236, 236);
    color: rgb(2, 29, 70);
    cursor:pointer;
}

/** Style: MAIN**/

main {
    height: 93vh;
    color: white;
}

main > #container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

/** Style: MAIN --> HOMEPAGE-CONTAINER**/

#homepage-container{
    display: flex;
    justify-content: center;
}

#explainer{    
    margin-top: 30px;
    padding: 0px 3px 0px 3px;
    text-align: center;
}

#explainer > h1 {
    font-size: clamp(22px,3vw, 50px);
}

#explainer > p {
    font-size: clamp(10px,1vw, 50px);
}


/** Style: FORM**/

#projects-container, #task-container {
    width: clamp(280px, 50vw, 354px);
    padding: 15px 25px 15px 25px;
    border: solid rgb(9, 236, 236) 1px;
    background-color: rgb(2, 29, 70);
}

form {
    display: grid;
}

.caption {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(9, 236, 236)
}

input, select {
    height: 30px;
    margin-bottom: 15px;
}

#project-submit, #task-submit {
    display: block;
    margin: 1rem  auto;
    width: 150px;
    transition: all 0.5s;
}

#project-submit:hover, #task-submit:hover {
    color: rgb(2, 29, 70);
    background-color: rgb(9, 236, 236);
    border: none;
}


